<template>
  <div>
    <img class="bg" src="../../assets/parent-content.png" width="375" height="812">
    <div class="btn-a" v-on:click="actionA"></div>
  </div>
</template>

<script>
export default {
  methods: {
    actionA: function() {
      this.$router.push("/parent/nav1");
    }
  }
};
</script>

<style scoped>
.btn-a {
  position: fixed;
  width: 260px;
  height: 40px;
  top: 150px;
  left: 40px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

