<template>
  <div>
    <img class="bg" src="../../assets/parent-finish.png" width="375" height="812">
    <div class="btn-a" v-on:click="actionA"></div>
  </div>
</template>

<script>
export default {
  methods: {
    actionA: function() {
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "kid",
            from: "/kid/answer2",
            to: "/kid/congratulations"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.btn-a {
  position: fixed;
  width: 110px;
  height: 50px;
  top: 625px;
  left: 240px;
  background: rgba(0, 0, 0, 0.1);
}
</style>


