<template>
  <div>
    <img class="bg" src="../../assets/parent-freedom.png" width="375" height="812">
    <div class="btn-a" v-on:click="actionA"></div>
  </div>
</template>

<script>
export default {
  methods: {
    actionA: function() {
      // this.$router.push("/parent/nav1");
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "kid",
            from: "/kid/menu",
            to: "/kid/map"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.btn-a {
  position: fixed;
  width: 300px;
  height: 120px;
  top: 330px;
  left: 40px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

