<template>
  <div>
    <img class="bg" src="../../assets/parent-home.png" width="375" height="812">
    <div class="choose-btn" v-on:click="nextTask"></div>
  </div>
</template>

<script>
export default {
  methods: {
    nextTask: function() {
      this.$router.push("/parent/theme");
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 150px;
  height: 90px;
  top: 50px;
  left: 20px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

