<template>
  <div>
    <img class="bg" src="../../assets/parent-instruction2.png" width="375" height="812">
    <div class="btn-a" v-on:click="actionA"></div>
  </div>
</template>

<script>
export default {
  methods: {
    actionA: function() {
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "kid",
            from: "/kid/photo2",
            to: "/kid/answer2"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.btn-a {
  position: fixed;
  width: 150px;
  height: 60px;
  top: 370px;
  left: 170px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

