<template>
  <div>
    <img class="bg" src="../../assets/parent-instruction1.png" width="375" height="812">
    <div class="btn-a" v-on:click="actionA"></div>
  </div>
</template>

<script>
export default {
  methods: {
    actionA: function() {
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "kid",
            from: "/kid/photo-done",
            to: "/kid/great"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.btn-a {
  position: fixed;
  width: 140px;
  height: 60px;
  top: 580px;
  left: 30px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

