<template>
  <div>
    <img class="bg" src="../../assets/parent-navigation2.png" width="375" height="812">
    <div class="btn-a" v-on:click="actionA"></div> 
  </div>
</template>

<script>
export default {
  methods: {
    actionA: function() {
      this.$router.push("/parent/content2");
    }
  }
};
</script>

<style scoped>
.btn-a {
  position: fixed;
  width: 220px;
  height: 30px;
  top: 650px;
  left: 40px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

