<template>
  <div>
    <img class="bg" src="../../assets/parent-theme.png" width="375" height="812">
    <div class="btn-a" v-on:click="actionA"></div>
    <div class="btn-b" v-on:click="actionB"></div>
    <div class="btn-c" v-on:click="actionC"></div>
    <div class="btn-d" v-on:click="actionD"></div>
  </div>
</template>

<script>
export default {
  methods: {
    actionA: function() {
    //   this.$router.push("/parent/list");
    },
    actionB: function() {
      this.$router.push("/parent/list1");
    },
    actionC: function() {
      this.$router.push("/parent/information1");
    },
        actionD: function() {
      this.$router.push("/parent/information2");
    }
  }
};
</script>

<style scoped>
.btn-a {
  position: fixed;
  width: 150px;
  height: 90px;
  top: 50px;
  left: 20px;
  background: rgba(0, 0, 0, 0.1);
}
.btn-b {
  position: fixed;
  width: 120px;
  height: 50px;
  top: 155px;
  left: 170px;
  background: rgba(0, 0, 0, 0.1);
}
.btn-c {
  position: fixed;
  width: 320px;
  height: 50px;
  top: 250px;
  left: 20px;
  background: rgba(0, 0, 0, 0.1);
}
.btn-d {
  position: fixed;
  width: 320px;
  height: 50px;
  top: 327px;
  left: 20px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

