<template>
    <div>
        <div class="btn-home"><router-link to="/kid/home">Kid - iPad Pro 10.5</router-link></div>
        <div class="btn-home"><router-link to="/parent/home">Parent - iPhone X</router-link></div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
.btn-home{
    border: 1px solid #444;
    height: 50px;
    width: 240px;
    margin: 20px 40px;
    text-align: center;
}
.btn-home a{
    font-size: 1.6em;
    color: #111;
    text-decoration: none;
}
</style>
