<template>
  <div>
    <img class="bg" src="../../assets/kid-answer2.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="congratulations"></div>
  </div>
</template>

<script>
export default {
  methods: {
    congratulations: function() {
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "parent",
            from: "/parent/listruction2",
            to: "/parent/list2"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 280px;
  height: 100px;
  top: 690px;
  left: 730px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

