<template>
  <div>
    <img class="bg" src="../../assets/kid-answer1.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="nextTask"></div>
  </div>
</template>

<script>
export default {
  methods: {
    nextTask: function() {
      this.$router.push("/kid/task2");
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "parent",
            from: "/parent/instruction1",
            to: "/parent/nav2"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 280px;
  height: 100px;
  top: 690px;
  left: 730px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

