<template>
  <div>
    <img class="bg" src="../../assets/kid-congratulation.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="gotoFinish"></div>
  </div>
</template>

<script>
export default {
  methods: {
    gotoFinish: function() {
      this.$router.push("/kid/finish");
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 660px;
  height: 600px;
  top: 200px;
  left: 220px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

