<template>
  <div>
    <img class="bg" src="../../assets/kid-finish.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="startAgain"></div>
  </div>
</template>

<script>
export default {
  methods: {
    nextTask: function() {
      this.$router.push("/kid/home");
    }
  }
};
</script>

<script>
export default {
  methods: {
    startAgain: function() {
      this.$router.push("/kid/home");
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "parent",
            from: "/parent/finish",
            to: "/parent/home"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 350px;
  height: 100px;
  top: 690px;
  left: 660px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

