<template>
  <div>
    <img class="bg" src="../../assets/kid-great.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="tap"></div>
  </div>
</template>

<script>
export default {
  methods: {
    tap: function() {
      this.$router.push("/kid/hint");
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 250px;
  left: 400px;
  background: rgba(0, 0, 0, 0.1);
}
</style>