<template>
  <div>
    <img class="bg" src="../../assets/kid-hint.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="seeAnswer"></div>
  </div>
</template>

<script>
export default {
  methods: {
    seeAnswer: function() {
      this.$router.push("/kid/answer1");
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 320px;
  height: 380px;
  top: 300px;
  left: 680px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

