<template>
  <div>
    <img class="bg" src="../../assets/kid-home.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="chooseAnimal"></div>
  </div>
</template>

<script>
export default {
  methods: {
    chooseAnimal: function() {
      this.$router.push("/kid/menu");
      this.$socket.send(JSON.stringify({
        "event":"redirect",
        "data":{
          "target":"parent",
          "from":"/parent/home",
          "to":"/parent/theme"
        }
      }))
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 300px;
  left: 400px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

