<template>
  <div>
    <img class="bg" src="../../assets/kid-menu.png" width="1112" height="834">
    <div class="btn-a" v-on:click="actionA" v-bind:class="{ selected: selectA }"></div>
    <div class="btn-b" v-on:click="actionB" v-bind:class="{ selected: selectB }"></div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      selectA: false,
      selectB: false
    };
  },
  methods: {
    actionA: function() {
      // this.$router.push("/kid/map");
      this.selectA = true;
      this.selectB = false;
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "parent",
            from: "/parent/theme",
            to: "/parent/information1"
          }
        })
      );
    },
    actionB: function() {
      // this.$router.push("/kid/map");
      this.selectB = true;
      this.selectA = false;
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "parent",
            from: "/parent/theme",
            to: "/parent/information2"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.btn-a {
  border-radius: 40%;
  position: fixed;
  width: 300px;
  height: 220px;
  top: 280px;
  left: 400px;
  background: rgba(0, 0, 0, 0);
}
.btn-b {
  border-radius: 40%;
  position: fixed;
  width: 300px;
  height: 220px;
  top: 525px;
  left: 710px;
  background: rgba(0, 0, 0, 0);
}

.selected {
  border: 5px solid #e66978;
  background: rgba(0, 0, 0, 0.1);
}
</style>

