<template>
  <div>
    <img class="bg" src="../../assets/kid-photo2.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="gotoAnswer"></div>
  </div>
</template>

<script>
export default {
  methods: {
    gotoAnswer: function() {
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "parent",
            from: "/parent/nav2",
            to: "/parent/instruction2"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 140px;
  height: 140px;
  top: 390px;
  left: 780px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

