<template>
  <div>
    <img class="bg" src="../../assets/kid-photo1.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="gotoTakePhoto"></div>
  </div>
</template>

<script>
export default {
  methods: {
    gotoTakePhoto: function() {
      this.$router.push("/kid/take-photo");
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 380px;
  height: 380px;
  top: 270px;
  left: 360px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

