<template>
  <div>
    <img class="bg" src="../../assets/kid-take-photo.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="takePhoto"></div>
  </div>
</template>

<script>
export default {
  methods: {
    takePhoto: function() {
      this.$router.push("/kid/photo-done");
      this.$socket.send(
        JSON.stringify({
          event: "redirect",
          data: {
            target: "parent",
            from: "/parent/nav1",
            to: "/parent/instruction1"
          }
        })
      );
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 150px;
  height: 100px;
  top: 550px;
  left: 480px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

