<template>
  <div>
    <img class="bg" src="../../assets/kid-task2.png" width="1112" height="834">
    <div class="choose-btn" v-on:click="gotoPhoto"></div>
  </div>
</template>

<script>
export default {
  methods: {
    gotoPhoto: function() {
      this.$router.push("/kid/photo2");
    }
  }
};
</script>

<style scoped>
.choose-btn {
  position: fixed;
  width: 800px;
  height: 140px;
  top: 210px;
  left: 150px;
  background: rgba(0, 0, 0, 0.1);
}
</style>

