<template>
  <div id="app">
    <router-view class="view"></router-view>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$options.sockets.onmessage = rawData => {
      var data = JSON.parse(rawData.data);
      if (data.event === "redirect") {
        var redirectInfo = data.data;
        if (this.$route.path.startsWith("/" + redirectInfo.target)) {
          this.$router.push(redirectInfo.to);
        }
      }
    };
  }
};
</script>

<style>
body {
  margin: 0;
}
</style>
